# Dependencies
node_modules/

# Build files
dist/
*.ts
*.ts.map

# IDE files
.idea/
.vscode/
*.sublime-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db